.hznLogoFooter {
  background: url('../../../content/images/horizon_logo.png') no-repeat center center;
  height: 41px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background-size: 140px 40px;
  background-position: 290px 0px;
  bottom: 0;
  font-size: 12px;
  padding-left: 185px;
  padding-right: 250px;
  background-size: contain;
}
